@import url('https://meyerweb.com/eric/tools/css/reset/reset.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
body{
    background-image: url('/src/img/Background.png');
}
.logo-container {
    margin-top:41px;
}

.logo {
   
    width: 10%;
    margin: 0 auto;
}
.tabs-container {
    margin-top:40px;
display: flex;
align-items: center;
justify-content: center;

}

.left-tab{
    cursor: pointer;
    width:210px;
    height: 50px;
    border-radius: 100px 0px 0px 100px;
    display: inline-block;
    border: 2px solid #fff;
    font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 28px;
letter-spacing: 1.399999976158142px;
text-align: center;
color: #fff;


}

.right-tab {
    cursor: pointer;
    width:210px;
    height: 50px;
    border-radius: 0px 100px 100px 0px;
    display: inline-block;
    border: 2px solid #fff;
    margin-left:-4px;
    font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 28px;
letter-spacing: 1.399999976158142px;
text-align: center;
color: #fff;
}

.active {
    background-color: #fff;
    color: #4F5362;
}
.text-container {
    margin-top:40px;
    display: flex;
    align-items: center;
justify-content: center;
}

.text-space{
    min-width:1020px;
    min-height:189px;
max-width:1050px;

    
}

.left-arrow, .right-arrow{
    cursor: pointer;
}

.text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 52px;
    line-height: 63px;
    text-align: center;
    color: #fff;    
}




.card-container {
    display: flex;
    justify-content:space-evenly;
    align-content: center;
    align-items: center;
}

.card-shape {
    height: 120px;
width: 340px;
left: 0px;
top: 0px;
border-radius: 5px;
box-shadow: 0px 29px 55px 0px #000000B0;


}

.left-card {
    background-color: #fff;
    display: flex;
    justify-content:space-evenly;
    align-content: center;
    align-items: center;

}
.middle-card {
    background: #222328;
    display: flex;
    justify-content:space-evenly;
    align-content: center;
    align-items: center;
}

.right-card {
    background: #222328;
    display: flex;
    justify-content:space-evenly;
    align-content: center;
    align-items: center;
}

.social{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-content: center;
    align-items: center;
}

.space-area{
    width: 25%;
    height:100%;
}

.ttwitter,.google, .dribble{
    margin-left: 10px;
    margin-right: 10px;
}

.socialss{
    display: flex;
    justify-content:space-evenly;
    align-content: center;
    align-items: center;
}
.firm {
    margin-bottom: 10px;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 1.2000000476837158px;
    text-align: left;
    color: #4F5362;
    
}

footer {
    margin-top: 40px;
}

.nothing {
    display: none;
}